*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rosas{
    width: 280px;
   
}






header ul{
   display: flex;
   
}
































